body {
    background-color: #ccc;
}

.player1, .player2, .choice, .record, .playerName {
    font-size: 20pt;
}

.choice {
    background-color: #cccc00;
}

.player1:hover, .player2:hover {
    background-color: #ccc;
}

.playerName {
    color: red;
}

#chatBox {
    height: 300px;
    overflow-y: scroll;
    background-color: #eee;
}

.active {
    background-color: lightgreen;
}

form {
    margin: auto;
    width: 100%;
}

#chatMsg {
    display: inline-block;
    margin: auto;
    width: 80%;
}