.player1, .player2, .choice, .record, .playerName {
    font-size: 20pt;
}

.choice {
    background-color: #cccc00;
}

.player1:hover, .player2:hover {
    background-color: #ccc;
}

.playerName {
    color: red;
}

.active {
    background-color: lightgreen;
}

#chatBox {
    height: 300px;
    overflow-y: scroll;
}